
.vs/config/applicationhost.config
.vs/EBook/DesignTimeBuild/.dtbcache
.vs/EBook/v15/.suo
.vs/EBook/v15/Server/sqlite3/db.lock
.vs/EBook/v15/Server/sqlite3/storage.ide
.vs/EBook/v15/Server/sqlite3/storage.ide-shm
.vs/EBook/v15/Server/sqlite3/storage.ide-wal
