@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Ebook</h1>
    <p>Start exploring our stie with <a asp-area="" asp-controller="Books" asp-action="Index">Books page</a>.</p>
</div>
