
@{
    ViewData["Title"] = "ChangePassword";
}

<h1>ChangePassword</h1>

<div class="row">
	<div class="col-sm-12">
		<input type="hidden" value="@ViewBag.Id" id="hiddenId" />
		<label class="control-label">New password</label>
		<input type="password" name="password" id="firstPassword" class="form-control" />
		<label class="control-label" id="firstLabel"></label>
	</div>
	<div class="col-sm-12">
		<label class="control-label">Repeat password</label>
		<input type="password" name="password" id="secondPassword" class="form-control" />
		<label class="control-label" id="secondLabel"></label>
	</div>
	<div class="col-sm-12">
		<input type="button" value="Change" class="btn btn-primary" onclick="ChangePassowrd()" />
	</div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
	function ChangePassowrd() {
		console.log("1");
		let id = $("#hiddenId").val();
		let firstPassowrd = $("#firstPassword").val();
		let secondPassword = $("#secondPassword").val();
		let firstLabel = $("#firstLabel");
		let secondLabel = $("#secondLabel");

		if (firstPassowrd == "")
		{
			firstLabel.empty();
			firstLabel.append("Password can't be empty");
			return;
		}
		if (!(firstPassowrd === secondPassword))
		{
			console.log(firstPassowrd);
			console.log(secondPassword);
			secondLabel.empty();
			secondLabel.append("Password isn't same");
			return;
		}
		$.ajax({
			url: '/Users/ChangePassword/' + id,
			type: 'Post',
			data: {
				"newPassword": firstPassowrd
			},
			dataType: 'json',
			success: function (response) {
				alert("password successfully changed")
				if (response == "Success") {
					window.location.href = "https://localhost:44325/Users/Edit/" + id;
				}
			},
			error: function (response) {
				alert("Something went wrong");
			}
		});
	}
</script>